:root{
    --columns: 16;
}

.container {
	display: inline-grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: 1px;
}

.grid {
	background-color: rgb(0, 0, 0);
}

.btn {
	height: 40px;
	width: 120px;
}